.campo-desativado {
    background-color: lightgrey;
}

.frase {
    font-size: 20px;
    text-align: left;
}

.campo {
    font-size: 20px;
    height: 150px;
    border: 3px solid black;
}

.campo.correto {
    border-color: green;
}
.campo.errado {
    border-color: red;
}

.icones {
    vertical-align: middle;
}

.placar {
    display: none;
}

body {
    overflow: scroll;
}

.erro {
    color: #f00;
    display: none;
}

.spinner {
    display: none;
}

#frase-id {
    width: 40px;
}